/* GLOBAL */

html { 
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: whitesmoke;
}

h1 {
  margin-top: 0;
}



#root {
  height: 100%;
  width: 100%;
  margin: 0;
  border: none;
}

/* APP */

.App {
  display: grid;
  grid-auto-columns: 33% 50%;
  grid-template-areas:
    'a b b';
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

/* HEADER */

.MainHeader {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  background-color: #223E4B;
  color: white;
  width: 100%;
  height: 73px;
  margin: 0;
  padding: 0;
  border: none;
  z-index: 9;
}

#logo {
  margin-left: 15%;
  font-size: 22px;
  padding: 1px;
  border: 1px solid whitesmoke;
  background-color: black;
  color: whitesmoke;
  width: 162px;
  height: 50px;
}

.headerForm {
  width: 37%;
}

#headerInput {
  margin-left: 10px;
  width: 80%;
  min-width: 100px;
  height: 24px;
  padding: 5px;
  font-size: 20px;
}

#headerInput:focus {
  outline: 0;
}

/* MAIN CONTAINER */

.MainContainer {
  grid-area: b;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-left: auto;
  margin-right: 500px;
  width: 98%;
  height: 85%;
  background-color: white;
}


#submitTitle {
  margin-left: 34px;
  font-size: 30px;
}


/* FILTER BOX */

.FilterBox {
  grid-area: a;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 38%;
  height: 50%;
  width: 271px;
  background-color: white;
}

#filterBy {
  margin-left: 11px;
  font-size: 21px;
}

.filters {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 9px;
  margin-top: 9px;
  background: #CCCCCC;  
  width: 198px;
  text-align: center;
  height: 38px;
}

/* QUESTION COMPONENT */

#questions {
  margin-block-end: 0%;
  float: right;
  /* margin-right: 10%; */
  width: 424px;
}

#questions:focus {
  outline: 0;
}

#questionsText {
  resize: none;
  float: right;
  width: 300px;
  height: 50px;
}

#questionsText:focus {
  outline: 0;
}

span {
  display: block;
  margin-left: 10px;
  padding: 10px;
}

#postButton {
  font-size: 13px;
  background-color: gray;
  border-radius: 3px;
  color: white;
  border: 1px solid black;
  margin-left: 18px;
  margin-top: 50px;
  padding: 8px;
  height: 41px;
  width: 163px;
}

#postButton:focus {
  outline: 0;
}