/* GLOBAL */

html { 
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: whitesmoke;
}

h1 {
  margin-top: 0;
}



#root {
  height: 100%;
  width: 100%;
  margin: 0;
  border: none;
}

/* APP */

.App {
  display: grid;
  grid-auto-columns: 25% 50% 25%;
  grid-template-areas:
    'a b c';
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

/* HEADER */

.MainHeader {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  background-color: #223E4B;
  color: white;
  width: 100%;
  height: 73px;
  margin: 0;
  padding: 0;
  border: none;
  z-index: 9;
}

#logo {
  margin-left: 15%;
  font-size: 22px;
  padding: 1px;
  border: 1px solid whitesmoke;
  background-color: black;
  color: whitesmoke;
  width: 162px;
  height: 50px;
}

#logo:focus {
  outline: 0;
}

.headerForm {
  width: 37%;
}

#headerInput {
  margin-left: 10px;
  width: 80%;
  min-width: 100px;
  height: 24px;
  padding: 5px;
  font-size: 20px;
}

#headerInput:focus {
  outline: 0;
}

/* ROUTER CONTAINER */

.RouterContainer {
  grid-area: b;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: auto;
  margin-right: 500px;
  width: 700px;
  height: 800px;
  background-color: white;
  box-shadow: 2px 5px 5px lightgrey;
  overflow: scroll;
}


#submitTitle {
  margin-left: 34px;
  font-size: 30px;
}

/* MAIN CONTAINER */

.titleAndButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#postButton {
  margin-left: 63px;
  float: right;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: whitesmoke;
}

#postButton:focus {
  outline: 0;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: 10px;
}

.questionDiv {
  width: 95%;
  height: 124px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 2px;
}

#questionTitle {
  font-family: arial;
  font-size: 20px;
}

.questionTagDiv {
  display: flex;
  flex-direction: row;
}

#questionTag {
  display: inline-block;
  margin-right: 5px;
  padding: 5px;
  text-align: center;
  color: whitesmoke;
  background-color: rgb(51, 139, 186);
  font-family: arial;
}

/* FILTER BOX */

.FilterBox {
  grid-area: a;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 38%;
  width: 271px;
  height: 422px;
  background-color: white;
  box-shadow: 2px 5px 5px lightgrey;
}

#filterBy {
  margin-left: 11px;
  font-size: 21px;
}

.filters {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 9px;
  margin-top: 9px;
  background: #CCCCCC;
  width: 214px;
  text-align: center;
  line-height: 40px;
  height: 38px;
}

#mostRecent {
  color: black;
}

#mostRecent:active {
  color: black;
}

/* QUESTION COMPONENT */

.QuestionComponent {
  width: 100%;
}

#questionSpan {
  display: block;
  margin-left: 10px;
  padding: 10px;
}

#questionsInput {
  float: right;
  display: block;
  margin-right: 50%;
  width: 424px;
}

#questionsInput:focus {
  outline: 0;
}

#textAreaSpan {
  display: block;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

#questionsTextArea {
  resize: none;
  float: right;
  margin-right: 50%;
  margin-bottom: 20px;
  padding-top: 10px;
  border-color: lightgrey;
  border-radius: 3px;
  width: 50%;
  min-width: 100px;
  height: 50px;
}

#questionsTextArea:focus {
  outline: 0;
}

#submitButton {
  font-size: 13px;
  background-color: gray;
  border-radius: 3px;
  color: white;
  border: 1px solid black;
  margin-left: 18px;
  margin-top: 100px;
  padding: 8px;
  height: 41px;
  width: 163px;
}

#submitButton:focus {
  outline: 0;
}